{% extends "layout.twig" %}

{% block title %}Register{% endblock %}
{% block content %}
<div class="container my-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ route('home') }}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Register</li>
        </ol>
    </nav>
    <div class="alert alert-light text-center mb-4" role="alert">
        <h3 class="font-weight-light text-dark">User Register</h3>
        <hr>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-lg-8">
            {% if errors %}
                {% include 'partials/errors.twig' %}
            {% endif %}
            <form method="POST" enctype="multipart/form-data" class="mt-4 mb-5">
                <div class="form-group">
                    <label for="email" class="text-muted">Email</label>
                    <input type="email" class="form-control" maxlength="50" name="email" id="email" value="{{ email }}" required>
                    <small class="form-text text-muted">Required, must be a valid email address, 8-50 characters long.</small>
                </div>
                <div class="form-group">
                    <label for="password" class="text-muted">Password</label>
                    <input type="password" class="form-control" maxlength="25" name="password" id="password" required>
                    <small class="form-text text-muted">Required, must be 5-25 characters long.</small>
                </div>
                <div class="form-group">
                    <label for="password_confirm" class="text-muted">Confirm Password</label>
                    <input type="password" class="form-control" name="password_confirm" id="password_confirm" required>
                    <small class="form-text text-muted">Required.</small>
                </div>
                <div class="text-muted mb-2">Avatar</div>
                <div class="custom-file mb-5">
                    <input type="file" class="custom-file-input" id="avatar" name="avatar" accept="image/png, image/jpeg, image/jpg">
                    <label class="custom-file-label" for="avatar">Choose file...</label>
                    <small class="form-text text-muted">Must be a valid image file, size under 100k.</small>
                  </div>
                <input class="btn btn-primary btn-block" type="submit" value="Register">
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js" integrity="sha256-e0DUqNhsFAzOlhrWXnMOQwRoqrCRlofpWgyhnrIIaPo=" crossorigin="anonymous"></script>
<script>
$(document).ready(function () {
    bsCustomFileInput.init()
})  
</script>
{% endblock %}