body
{
    padding-top: 50px;
    background-image: url("../img/pattern.png");
}

.author
{
    float: right;
    margin-right: 5px;
}

textarea
{
    resize: vertical;
}

footer
{
    padding-top: 64px;
    text-align: center;
}

.logo
{
    padding: 5px 10px 0 0;
    font-size: 36px;
    float:left;
    color:deepskyblue;
}

.note-btn
{
    float: right;
}

.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }