<div class="alert alert-warning" role="alert">
    <strong>Oops! </strong> <span class="text-info">{{ user.fullName }}</span> does not have any author,
    but you can <a href="{{ route('authors.create') }}">create one</a>.
</div>